body {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  background: white;
}

.app-footer {
    min-height: 50px;
    /*background-color: #009688;*/
    /*background-color: #03A9F4; /!* light blue 500 *!/*/
    /*color: white;*/
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*margin-bottom: 15px;*/
}

.footer {
    position:relative;
    bottom:0;
    width:100%;
    background: black;
    color: white;
    margin-top: 15px;
    min-height: 50px;
}

.content {
    /*min-height:calc(100vh - 115px);*/
      min-height:calc(100vh - 135px);
}

.habit-container {
  min-height: 50vh;
  padding-bottom: 15px;
}

.gray {
    /*background: #f5f5f5;*/
}

.bg-light-gray {
  background: #ededed;
}

.dark-gray {
    background: #888888;
}

.bg-light-red {
    background: #ff8a80;
}

.light-red {
  color: #ff8a80;
}

.bg-red {
    background: red;
}

.red {
  color: red;
}

.green {
  background: #b9f6ca; }

.purple {
  background: #b388ff; }

.yellow {
  background: #ffff8d; }

.bronze {
  color: #965A38;
}

.silver {
  color: #A8A8A8;
}

.gold {
  color: #D9A441;
}

.white {
  color: white;
}

/* Material Design Theme */
.bg-theme-dark {
  /*background: #00695C; /!* teal 800 *!/*/
  background: #0277BD; /* light blue 800 */
  color: white;
}

.bg-theme-primary {
  /*background: #009688; /!* teal 500 *!/*/
  background: #03A9F4; /* light blue 500 */
}

.bg-theme-light {
  /*background: #B2DFDB; /!* teal 100 *!/*/
  background: #B3E5FC; /* light blue 100 */
}

.theme-dark {
  /*color: #00695C; /!* teal 800 *!/*/
  color: #0277BD; /* light blue 800 */
}

.theme-primary {
  /*color: #009688; /!* teal 500 *!/*/
  color: #03A9F4; /* light blue 800 */
}

.theme-light {
  /*color: #B2DFDB; /!* teal 100 *!/*/
  color: #B3E5FC; /* light blue 100 */
}

.border-theme-primary {
  border-style: solid;
  /*border-color: #009688;*/
  border-color: #03A9F4; /* light blue 500 */
}

/* Other */
.centered {
  text-align: center;
  vertical-align: middle;
}

.vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.focus-no-border:focus {
  outline: none;
  border: 0;
}

.padding-0 {
  padding: 0px;
  margin: 0px;
}

.padding-2 {
  padding: 2px;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}

.task-done {
  text-decoration: line-through;
}

.min-height-100 {
  min-height: 100px;
}

.min-height-150 {
  min-height: 150px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.rounded {
  border-radius: 10px;
}

.rounded-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.not-rounded {
    border-radius: 0px;
}

.border-1 {
  border: solid 1px black;
}

.content-header {
  /*background: #009688; /!* teal 500 *!/*/
  /*background: #03A9F4; /!* light blue 500 *!/*/
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  /*color: white;*/
  border-top-right-radius: 10px;
  min-height: 50px;
}

.journal-header {
  font-size: 100%;
  color: black;
  font-weight: bold;
}

.journal-entry {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 5px 5px 20px;
}

.italic {
  font-style: italic;
}

/********** Overrides **********/
.angular-ui-tree-placeholder {
    /*background: #00695C; /!* teal-800 from material theme *!/*/
    /*background: #03A9F4; /!* light blue 800 from material theme *!/*/
    background: #888888;
}

.nav-tabs{
  /*background-color:#161616;*/
  /*background-color: #f5f5f5;*/
  background-color: inherit;
  border-bottom: none;
  border-collapse: collapse;
}

/*not sure if this is being used*/
/*.tab-content{*/
    /*background: #03A9F4; /!* light blue 500 *!/*/
    /*color: black;*/
/*}*/

.nav-tabs > li > a{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: solid 1px black;
  border-bottom: none;
  border-collapse: collapse;
  background-color: white;
  color: black;
}
.nav-tabs > li > a:hover{
  /*background-color: #B2DFDB; /!*!important*!/*/
  /*background-color: #B3E5FC; /!* light blue 100 *!/*/
  /*background-color:#009688; !important;*/
  border: solid 1px black;
  border-bottom: none;
  border-collapse: collapse;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: black;
}

/*.nav-tabs > li.active > a,*/
/*.nav-tabs > li.active > a:hover,*/
/*.nav-tabs > li.active > a:focus{*/
  /*color: white;*/
  /*background-color: #03A9F4; /!* light blue 500 *!/*/
  /*border: solid 1px #03A9F4; /!* light blue 500 *!/*/
  /*border-collapse: collapse;*/
/*}*/

.habit-navbar {
  /*background-color: #B2DFDB;*/
  /*background-color: #B3E5FC; /!* light blue 100 *!/*/
  border: none;
  color: black;
}

.list-group-item {
  padding: 0px;
}

/* xeditable */
.editable-empty, .editable-empty:hover {
    color: inherit;
    font-style: normal;
}