<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h2>Data</h2>

        <p>model_1_metadata_systems: {{ model_1_metadata_systems }}</p>

        <btn class="btn-default" ng-click="get_model_1_records()">Get Model 1 Records</btn>
        <p>Database Records: {{ database_records }}</p>

    </div>
</div>
</body>
</html>