<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <div class="container">
        <h2>Home</h2>

        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Systems
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" ng-repeat="system in systems" ng-click="set_system(system.SYSTEM_ID)">{{ system.SYSTEM_NAME }}</a>
          </div>
        </div>

        <br>

        <ul ng-show="selected_system">
            <li>System ID: {{ selected_system.SYSTEM_ID }}</li>
            <li>System Short Name: {{ selected_system.SYSTEM_SHORT_NAME }}</li>
            <li>System Name: {{ selected_system.SYSTEM_NAME }}</li>
            <li>Acronym Definition: {{ selected_system.ACRONYM_DEFINITION }}</li>
            <li>Purpose: {{ selected_system.PURPOSE }}</li>
            <li>Classification: {{ selected_system.CLASSIFICATION }}</li>
            <li>Division: {{ selected_system.DIVISION }}</li>
            <li>Segment: {{ selected_system.SEGMENT }}</li>
            <li>Region: {{ selected_system.REGION }}</li>
            <li>Business Unit: {{ selected_system.BUSINESS_UNIT }}</li>
            <li>Business Owner: {{ selected_system.BUSINESS_OWNER }}</li>
            <li>System Platform: {{ selected_system.SYSTEM_PLATFORM }}</li>
            <li>Database Technology: {{ selected_system.DATABASE_TECHNOLOGY }}</li>
            <li>CTRL_START_TS: {{ selected_system.CTRL_START_TS }}</li>
            <li>CTRL_END_TS: {{ selected_system.CTRL_END_TS }}</li>
            <li>CTRL_UPDATED_BY: {{ selected_system.CTRL_UPDATED_BY }}</li>
        </ul>

        <btn class="btn btn-primary" ng-click="call_api()">Submit</btn>
        <br><br>
        <p>API Response: {{ api_response }}</p>

    </div>
</div>
</body>
</html>