<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <div class="container">
        <h2>Home</h2>

        <br>

        <div class="container">
            <div class="col-sm-6">
                    <table class="table">
                      <tbody>

                        <tr>
                          <th scope="row">System</th>
                          <td>
                            <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle" ng-class="{ 'btn-info': selected_system }" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span ng-show="selected_system">{{ selected_system.SYSTEM_NAME }}</span>
                                <span ng-show="!selected_system">Select System</span>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div ng-repeat="system in systems">
                                  &nbsp; <a class="dropdown-item" href="#" ng-click="set_system(system.SYSTEM_ID)">{{ system.SYSTEM_NAME }}</a> &nbsp;
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <th scope="row">Sub System</th>
                          <td>
                            <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle" ng-class="{ 'btn-info': selected_sub_system }" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span ng-show="selected_sub_system">{{ selected_sub_system.SUB_SYSTEM_NAME }}</span>
                                <span ng-show="!selected_sub_system">Select Sub System</span>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div ng-repeat="sub_system in sub_systems">
                                      &nbsp; <a class="dropdown-item"
                                       href="#"
                                       ng-click="set_sub_system(sub_system.SUB_SYSTEM_ID)">
                                        {{ sub_system.SUB_SYSTEM_NAME }}
                                    </a> &nbsp;
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <th scope="row">Entity</th>
                          <td>
                            <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle" ng-class="{ 'btn-info': selected_entity }" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span ng-show="selected_entity">{{ selected_entity.PHYSICAL_NAME }}</span>
                                <span ng-show="!selected_entity">Select Entity</span>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div ng-repeat="entity in entities">
                                      &nbsp; <a class="dropdown-item"
                                       href="#"
                                       ng-click="set_entity(entity.ENTITY_ID)">
                                        {{ entity.PHYSICAL_NAME }}
                                    </a> &nbsp;
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <th scope="row">Attribute</th>
                          <td>
                            <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle" ng-class="{ 'btn-info': selected_attribute }" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span ng-show="selected_attribute">{{ selected_attribute.PHYSICAL_NAME }}</span>
                                <span ng-show="!selected_attribute">Select Attribute</span>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div ng-repeat="attribute in attributes">
                                      &nbsp; <a class="dropdown-item"
                                       href="#"
                                       ng-click="set_attribute(attribute.ATTRIBUTE_ID)">
                                        {{ attribute.PHYSICAL_NAME }}
                                    </a> &nbsp;
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>

                      </tbody>
                    </table>
            </div>
        </div>

        <btn class="btn btn-primary" ng-click="get_metadata()" ng-disabled="get_metadata_button_disabled">Get Metadata</btn>
        <btn class="btn btn-primary" ng-click="get_data()" ng-disabled="get_data_button_disabled">Get Data</btn>
        <btn class="btn btn-danger" ng-click="clear_selection()">Clear</btn>
        <br><br>

        <div ng-if="show_metadata_results">
            <h3>{{ results_label }} Metadata</h3>
            <table class="table" ng-repeat="object in api_response">
              <tbody>
                <tr ng-repeat="(key, value) in object">
                  <th scope="row">{{ key }}</th>
                  <td>{{ value }}</td>
                </tr>
              </tbody>
            </table>
        </div>

        <div ng-if="show_data_results">
            <h3>{{ results_label }} Data</h3>

            <div ng-repeat="object in api_response_limit10">
                <p>{{ object }}</p>
            </div>
        </div>


    </div>
</div>

<!--div class="col-lg-10 col-lg-offset-1"-->
    <!--h3>API Response</h3-->
    <!--p>{{ api_response }}</p-->
<!--/div-->

</body>
</html>